
/* Search Button */

.searchButtonOutline {
    all: unset;
    background-color: #3F7209;
    color: white;  
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    max-width: 130px;
    align-self: center;
    
}
   
.searchButtonOutline:hover {
    color: black;
    border-radius: 25px;
    background-color: #f2f4fc;
    
  }