
/* Search Button */
@value colors: "../../app.module.css";
@value greenColor, hoverColor,boxShadow from colors;

.searchButtonOutline {
    all: unset;
    background-color: greenColor;
    color: white;  
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    max-width: 130px;
    align-self: center;
    box-shadow:0 0 4px boxShadow;
}
   
.searchButtonOutline:hover {
    color: black;
    border-radius: 25px;
    background-color: hoverColor;
    
  }