@value colors: "../../app.module.css";
@value yellowColor, orangeColor,greenColor,lightGreyColor,greyColor, hoverColor,boxShadow,headingFont from colors;



.listItem {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.listItem  h3{
    height: 40px;
    width: 200px;
    font-size: 1em;
    word-wrap: break-word;
}
.listItem  div{ 
  padding: 10px 0 10px 0;
}
.listItem  p{
    all: unset;
    font-size: 1em;
    padding: 5px 0 5px 0;
}
.listItem  img{
    width: 100%;
    margin:  5px 0 5px 0;
}

.savedButton{
    all: unset;
    background-color: orangeColor;
    color: white;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;   
    box-shadow:0 0 4px boxShadow;
}

.savedButton:hover {
    border-radius: 25px;
    background-color: #f2f4fc;   
    color: black;
 }
.removeButton{
    all: unset;
    background-color: greyColor;
    color: white;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 0.8em;
    box-shadow:0 0 4px boxShadow;
}