@value colors: "../../app.module.css";
@value yellowColor, orangeColor,greenColor,lightGreyColor,greyColor, hoverColor,boxShadow,headingFont from colors;

 .settingsBox{
   display: flex;
   justify-content: space-between;
   align-content: center;
   flex-direction: column;
   padding: 1em;
   margin: 0.5em;
   padding: 40px;

   background-color: white;
   border-radius: 10px;
 }

 .profileBox{
    display: flex;
    justify-content: flex-end; 
 }

.fileBox{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;  
 }

.profileBox img{
    width: 200px;
    border-radius: 15px;
 }

.settingsBox > form{
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   align-self: center; 
}

.settingsBox label{
  margin: 10px;
  font-size: 1.1em;
}

.settingsBox input{
   height: 50px;
   margin: 10px;
   border-style: none;
   background-color: lightGreyColor;
}

.updateButton {
   all: unset;
   background-color: greenColor;
   color: white;
   padding: 10px;
   margin: 10px;
   margin-top: 20px;
   border-radius: 5px;
   cursor: pointer;
   width: 100px;
   box-shadow:0 0 4px #a0a19f;
   text-align: center;
   transition: all 0.5s;  
 }
 .updateButton:hover {
    border-radius: 25px;
    background-color: hoverColor;   
    color: black;
 }

 /* Phone Styles */ 
 @media only screen and (max-width: 767px) {
   .profileBox{
      display: flex;
      justify-content: center;      
   }
   .fileBox{
    display: flex;
    justify-content: center;
   }     
 }
  
  /* Tablet Styles */ 
  @media only screen 
  and (min-device-width: 601px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
   
  }
  /* Desktop Styles */ 
  @media only screen and (min-width:1024px) {
      .settingsBox > form{
         width: 70%;
      }
   }