


.background {
    border-radius: 10px;
    min-height: 80vh;
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(../styles/imgs/fridgebackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.buttonBox {
    display: flex;    
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
    vertical-align: top;
    margin-top: 20px;
}

.button{
    align-self: center;
    margin-top: 20px;
    width: 250px;
}  

   /* Tablet Styles */ 
  @media only screen 
  and (min-device-width: 601px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
   
  }
  /* Desktop Styles */ 
 @media only screen and (min-width:1088px)  {
    .buttonBox {
        display: flex;
         justify-content: flex-end;
         margin-top: -60px;
        }
   }