


.background {
    border-radius: 10px;
    min-height: 80vh;
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(../styles/imgs/background copy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.buttonBox {
    display: flex;    
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
    vertical-align: top;
    margin-top: 20px;
}

.button{
    align-self: center;
    margin-top: 20px;
    width: 250px;
     box-shadow:0 0 4px #a0a19f;
}  
.searchButtonMove{
    float: right;
    display: inline-block;
    margin-right: 22px;
    margin-bottom: 20px;
}
.fridgeAutoBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.fridge{
    margin: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: #3F7209;
    max-width: 200px;
    max-height: 200px;
    margin-right: 65px;
}
.fridge img {
    width: 100%;
    padding: 30px;
}


  @media only screen 
  and (max-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1) {
                .fridge{
                    display: none;
                }
   .fridgeAutoBox{
            justify-content: center;
            
        }
  }
  /* Desktop Styles */ 
 @media only screen and (min-width:1088px)  {
    .buttonBox {
        display: flex;
         justify-content: flex-end;
         margin-top: -60px;
        }
        .searchButtonMove {
        margin-top: -50px;    
        }
        .fridge{
        margin-right: 80px; 
        }

   }