

.savedBox{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 1em;
    padding-bottom: 40px;
    height: 100%;
    margin-top: 40px;
}

.searchButtonMove {
    float: right;
    display: inline-block;
    margin-right: 22px;
}

.newSearch{
    all: unset;
    background-color: #F8BC23;  
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.5s;
    font-size: 1.2em;
}

 .newSearch:hover {
    border-radius: 25px;
    background-color: #f2f4fc;   
    color: black;
 }
.possibleStatement {
    text-align: center;
    font-size: 1.5em;
}

/* Phone Styles */ 
@media only screen and (max-width: 600px) {
  
   
}
 
 /* Tablet Styles */ 
 @media only screen 
 and (min-device-width: 601px) 
 and (-webkit-min-device-pixel-ratio: 1) {
   
  
 }
 @media only screen and (min-width:1024px)  {
    .searchButtonMove {
     
        margin-top: -50px;
       
        
    }
  
}

