.logo {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    font-family: "Paytone One", serif;
    font-size: 1em;
    color: #3F7209;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 5px;
 }

 /* Mobile First */
 @media only screen and (min-width: 672px) and (max-width: 1087px){
  
    .logo {
      font-size: 1.4em;
   }
   
 }
 
 @media only screen and (min-width:1088px)  {
   .logo {
      font-size: 1.8em;
   }
  
 }
 
