.logo {
  
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    height: 60px;
    font-family: "Paytone One", serif;
    font-size: 1.3em;
    text-align: right;
    color: #3F7209;
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
   
 }

 .text {
    font-family: "Paytone One", serif;
    font-size: 1.3em;
    color: #3F7209;
 }
 /* Mobile First */
 @media only screen and (min-width: 672px) and (max-width: 1087px){
  
    .text {
      font-size: 1.4em;
   }
   
 }
 
 @media only screen and (min-width:1088px)  {
   .text {
      font-size: 1.8em;
    
   }
   .logo{
     height: 70px; 
   }
  
 }
 
