
.ingredient{
    /* width: 100%;
    margin: 0 auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}     

.ingredientText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 35px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #EAEBF1;
}

.ingredientText p{
    padding-right: 15px;
}


 /* Phone Styles */ 
@media only screen and (max-width: 668px) {
        .ingredient{
            padding-left: 5px;
        }
            
 }
  
  /* Tablet Styles */ 
  @media only screen and (min-width: 669px) and (max-width: 1200px)  {
   
    .ingredient{
             width: 60%;
        }
  }
  /* Desktop Styles */ 
   @media only screen and (min-width:1088px)  {
    .ingredient{
             width: 50%;
        }
            
        
   }