
.loginSignupBox{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 20px;
    padding-bottom: 40px;
 }
 .loginSignupBox h1{
    text-align: center;
    font-family: "Paytone One", serif;
    color: #f8bc23;
    font-size: 2em;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
 }
 .loginSignupBox >form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    text-align: center;
    align-self: center;
 }

 .loginSignupBox label{
   margin: 10px;
 }

 .loginSignupBox input{
    height: 50px;
    margin: 10px;
 }


 .loginSignupButtons {
    all: unset;
    background-color: #FB8D02;
    color: white;
    padding: 13px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    
  }
 /* Phone Styles */ 
@media only screen and (max-width: 668px) {
    .loginSignupBox{
        width: 275px;
     }
     
 }
  
  /* Tablet Styles */ 
  @media only screen and (min-width: 669px) and (max-width: 1200px)  {
    .loginSignupBox{
        width: 400px;
    
     }
   
  }
  /* Desktop Styles */ 
  @media only screen and (min-width:1201px) {
    
    .loginSignupBox{
        width: 800px;
    
     }
   }