
.loginSignupBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid grey;
    padding: 10px;
    padding-bottom: 40px;
 }
 .loginSignupBox h1{
    text-align: center;
    font-family: "Paytone One", serif;
    color: #f8bc23;
    font-size: 2em;
    letter-spacing: 0px;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
 }
 .loginSignupBox >form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    text-align: center;
    align-self: center;
 }

 .loginSignupBox label{
    margin: 10px 0px 10px 0px;
   text-align: left;
   font-weight: 600;
   
 }

 .loginSignupBox input{
    height: 50px;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    border-style: none;
    background-color: #EAEBF1;
 }

 .loginSignupButtons {
    all: unset;
    background-color: #FB8D02;
    color: white;
    padding: 10px;
    margin: 25px 0px 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.5s;
    width: 50%;
     box-shadow:0 0 4px #a0a19f;
  }

 .loginSignupButtons:hover {
    border-radius: 25px;
    background-color: #f2f4fc;
    color: black;
 }

  .modalButton{
    all: unset;
    text-decoration: underline;
    color: #3F7209;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;

  }

  .modalCancelButton{  
    all: unset;
    text-decoration: underline;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;

  }
.resetBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(./imgs/fridgebackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 /* Phone Styles */ 
@media only screen and (max-width: 668px) {
    .loginSignupBox{
        width: 265px;
     }
   .loginSignupBox >form{  
      width: 100%;
   }
     
 }
  
  /* Tablet Styles */ 
  @media only screen and (min-width: 669px) and (max-width: 1200px)  {
    .loginSignupBox{
        width: 450px;
    
     }
   
  }
  /* Desktop Styles */ 
  @media only screen and (min-width:1201px) {
    
    .loginSignupBox{
        width: 800px;
    
     }
   }