


.loadBox{
      display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 200px;
       height: 100%;

}

.loadBoxInner{
        width: 80%;
        height: 190px;
        margin: 10px;
        padding: 5px;
}