
 .prefBox{
     display: flex;
     justify-content: space-between;
      align-content: center;
      flex-direction: column;
      padding: 1em;
      margin: 0.5em;
      padding-bottom: 40px; 
 }

 .prefBox form{
     display: flex;
     justify-content: space-between;
      align-content: center;
      flex-direction: column;
      padding: 1em;
      margin: 0.5em;
      padding-bottom: 40px;
 }

 .prefBox label{
      margin: 1em;
 }

 .updateButton {
   all: unset;
   background-color: #3F7209;
   color: white;
   padding: 10px;
   margin: 10px;
   margin-top: 20px;
   border-radius: 5px;
   cursor: pointer;
   width: 140px;
 }
 /* Phone Styles */ 
 @media only screen and (max-width: 600px) {
   
    
 }
  
  /* Tablet Styles */ 
  @media only screen 
  and (min-device-width: 601px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
   
  }
  /* Desktop Styles */ 
  @media only screen and (min-width:1201px) {
    
 
   }