
 .prefBox{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1em;
      margin: 0.5em;
      padding-bottom: 40px; 
 
      background-color: white;
      border-radius: 10px;
 }

 .prefBox form{
      display: flex;
      align-content: center;
      flex-direction: column;
      padding: 10px;
      margin: 0.5em;
      padding-bottom: 40px;
      font-size: 1.2em;
 }


.imgBox  {
      margin: 60px 120px 20px 20px;
      padding: 10px;
      border-radius: 50%;
      background-color: #FB8D02;
      max-width: 250px;
      max-height: 250px;
}

.formBox {
   display: flex;
   max-width: 300px;
  
}
 .prefBox img{
    width: 100%;
    padding: 30px;
    
 }

 .prefBox label{
      margin: 1em;
 }

 .updateButton {
   all: unset;
   background-color: #3F7209;
   color: white;
   padding: 10px;
   margin: 10px;
   margin-top: 20px;
   border-radius: 5px;
   cursor: pointer;
   width: 140px;
   text-align: center;
   font-size: 0.8em;
 }
 /* Phone Styles */ 
 @media only screen and (max-width: 767px) {
    .prefBox form{
      font-size: 1em;
   }
   .imgBox {
      max-width: 200px;
      max-height: 200px;
      margin: 20px;
   }
   .prefBox{
      flex-wrap: wrap-reverse;  
      }
 }
  
  /* Tablet Styles */ 
  @media only screen 
  and (min-device-width: 601px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
   
  }
  /* Desktop Styles */ 
  @media only screen and (min-width:1023px) {
         .imgBox {
            
               padding: 30px;
               
         }
   }