
.button{
    
   margin-top: 20px !important;
}
.autoComplete{
   width: 270px;
   padding: 20px;
}


   /* Tablet Styles */ 
   @media only screen 
   and (max-width: 601px) 
   and (-webkit-min-device-pixel-ratio: 1) {
      .autoComplete{
      align-self: center;
         }
   }
/* Desktop Styles */ 
@media only screen and (min-width:1023px) {
         .imgBox { 
         padding: 30px;       
         }
         .autoComplete{
            width: 450px;
            padding: 20px;
           
         }
   }