@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Paytone+One&display=swap');
@value orangeColor: #FB8D02;
@value greenColor: #3F7209;
@value yellowColor: #F8BC23;
@value lightGreyColor: #EAEBF1;
@value greyColor: #74716D;
@value boxShadow: #a0a19f;
@value hoverColor: #f2f4fc;
@value headingFont: "Paytone One", serif;
@value bodyFont: 'Lato', sans-serif;


*, *::before, *::after {
   box-sizing: border-box;
   font-family: bodyFont;
}

html, body {
   height: 100%;
   min-height: 100vh;
   margin: 0;
   padding: 0;
   
}


em {
   font-style: normal;
}

a {    
   text-decoration: none;
   color: inherit;
} 

/* Layout All Pages Except Hoome*/
.layout {
   display: flex;
   width: 100%; 
   
}
.fadeBox{
   opacity: 1;
   animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.headings {
   display: flex;
   /* position: fixed; */
   margin: 0.8em;
   margin-top: 80px;
   overflow: hidden;
   font-family: headingFont;
   color: orangeColor;
   font-size: 2em;
  
}

.layoutContent {
   display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
   background: lightGreyColor;
   border-radius: 10px;
   margin: 1.5em;
   margin-top: 1em;
   padding: 1em;
   box-shadow:0 0 8px boxShadow;
   height: 100%;
}
 .subheading{
    padding: 15px;
    font-size: 1em;
    font-weight: 600;
    color: greyColor;
 }


 
 @media only screen and (min-width:1088px)  {
   .layoutContent {
      margin-left: 17em;
   }
   .headings {
      margin-left: 250px;
      font-size: 3em;
   }
  
}

